/*
/.**

!/.gitignore
!/.github/
!/.github/workflows/
!/.github/workflows/**
!/README.md
!/LICENSE


!/install.sh
!/link_map.csv


!/alacritty/
!/alacritty/**
!/git/
!/git/**
!/nvim/
!/nvim/**
!/python/
!/python/**
!/sheldon/
!/sheldon/**
!/tmux/
!/tmux/**
!/zsh/
!/zsh/**
